.toast-container {
    top: 0;
    gap: 1rem;
    z-index: 1000;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.top-right {
    top: 1rem;
    right: 1rem;
}

.top-left {
    top: 1rem;
    left: 1rem;
}

.bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.top-center {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-center {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}