<div class="detail-page-container" *ngIf="petition">
  <header class="detail-header">
    <div class="header-top">
      <a class="back-link" (click)="goback()">
        <span class="material-symbols-outlined">arrow_back</span>
        Voltar
      </a>
      <div class="badges">
        <!-- Statis -1 rejeitado e 3 finalizado -->
        <div class="status-badge" [class.active]="petition()?.status !== -1 && petition()?.status !== 3">
          {{ getStatusLabel(petition()?.status ?? 0) }}
        </div>
        @if (userIsOwner) {
          <div class="status-badge active">
            Criado por você
          </div>
        }
      </div>
    </div>

    <div class="title-section">
      <h1>{{ petition()?.title }}</h1>
      <div class="meta-info">
        <span class="category-tag">{{ petition()?.category_name }}</span>
        <span class="scope-tag">Abrangência: {{ petition()?.scope === 'city' ? 'Municipal' : petition()?.scope ===
          'neighborhood' ? 'Bairro' : 'Estadual' }}</span>
        <span class="date-tag">Criado em {{ petition()?.createdAt | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
  </header>

  <main class="detail-content">
    <section class="status-section">
      <h3>Progresso do Abaixo-Assinado</h3>
      <m-steps [steps]="steps" [currentStep]="getCurrentStep()" type="horizontal"></m-steps>

      <div class="progress-info-wrapper">
        <m-progress-bar [value]="petition()?.signaturesCount || 0" [max]="petition()?.goal || 0"
          [color]="'var(--blue-10)'">
        </m-progress-bar>
      </div>

      <button class="btn-primary support-button" *ngIf="petition()?.status === 0" (click)="support()"
        [disabled]="userIsOwner || !userLogged" [title]="!userLogged? 'Faça login para apoiar': ''">
        <span class="material-symbols-outlined">edit_note</span>
        Assinar este Abaixo-Assinado
      </button>
    </section>

    <div class="content-grid">
      <div class="info-card description-card">
        <h3>Explicação</h3>
        <p>{{ petition()?.description }}</p>
      </div>

      <div class="info-card target-card">
        <h3>Informações de Destino</h3>
        <div class="location-details">
          <span class="material-symbols-outlined">location_on</span>
          <p>{{ petition()?.location?.neighborhood }} - {{ petition()?.location?.address}}</p>
        </div>
        <div class="info-grid">
          <div class="info-item">
            <label>Expira em:</label>
            <span>{{ petition()?.expiresAt | date:'dd/MM/yyyy' }}</span>
          </div>
          <div class="info-item">
            <label>Visibilidade:</label>
            <span>{{ petition()?.visibility === 'public' ? 'Pública' : 'Privada' }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>