.toast {
    --shadow-2: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 8px -1px rgba(0, 0, 0, 0.1);
    --surface-0: #ffffff;
    --surface-1: rgb(202, 202, 202);

    gap: .5rem;
    display: flex;
    padding: .5rem;
    min-width: 20rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-2);
    background-color: var(--surface-0);
    flex-direction: column;

    span {
        flex: 1;
        color: rgb(255, 255, 255);
    }

    .header {
        display: flex;

        .title {
            text-transform: capitalize;
        }
    }

    .message {
        padding: .5rem;
        background-color: var(--surface-1);
        border-radius: .5rem;
    }

    button {
        border: none;
        display: flex;
        cursor: pointer;
        background: none;
    }

    .actions {
        gap: .5rem;
        display: flex;
        align-items: center;
    }
}

.success {
    --surface-0: hsl(160, 84%, 39%);
    --surface-1: hsl(160, 84%, 30%);
}

.error {
    --surface-0: hsl(0, 84%, 60%);
    --surface-1: hsl(0, 84%, 30%);
}

.warning {
    --surface-0: hsl(38, 92%, 50%);
    --surface-1: hsl(38, 84%, 30%);
}

.info {
    --surface-0: hsl(217, 91%, 60%);
    --surface-1: hsl(217, 84%, 30%);
}