@import 'material-symbols';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

:root,
.light {
    --nav-height: 70px;
    --transition-speed: 0.3s;
    --nav-padding: 0.75rem 1.5rem;

    --content-max-w: 1400px;

    --white: #ffffff;
    --black: #000000;
    --primary-color: var(--blue-10);
    --primary-contrast: var(--white);

    --white-a1: rgba(255, 255, 255, 0.1);
    --white-a2: rgba(255, 255, 255, 0.2);
    --white-a3: rgba(255, 255, 255, 0.3);
    --white-a4: rgba(255, 255, 255, 0.4);
    --white-a5: rgba(255, 255, 255, 0.5);
    --white-a6: rgba(255, 255, 255, 0.6);
    --white-a7: rgba(255, 255, 255, 0.7);
    --white-a8: rgba(255, 255, 255, 0.8);
    --white-a9: rgba(255, 255, 255, 0.9);

    --text: var(--black);
    --text-inverted: var(--white);
    --nav-bg: var(--blue-10);
    --nav-text: var(--text-inverted);
    --nav-link-active: var(--text-inverted);

    --blue-1: #fcfdff;
    --blue-2: #f5f9ff;
    --blue-3: #e9f3ff;
    --blue-4: #daebff;
    --blue-5: #c8e1ff;
    --blue-6: #b3d4ff;
    --blue-7: #98c2ff;
    --blue-8: #72a8ff;
    --blue-9: #0d6efd;
    --blue-10: #0060ec;
    --blue-11: #0063ef;
    --blue-12: #092f6c;

    --blue-a1: #0055ff03;
    --blue-a2: #0066ff0a;
    --blue-a3: #0074ff16;
    --blue-a4: #0076ff25;
    --blue-a5: #0074ff37;
    --blue-a6: #006fff4c;
    --blue-a7: #0068ff67;
    --blue-a8: #0062ff8d;
    --blue-a9: #0066fdf2;
    --blue-a10: #0060ec;
    --blue-a11: #0063ef;
    --blue-a12: #002767f6;

    --blue-contrast: #fff;
    --blue-surface: #f3f8ffcc;
    --blue-indicator: #0d6efd;
    --blue-track: #0d6efd;

    --gray-1: #fcfcfd;
    --gray-2: #f9f9fb;
    --gray-3: #eff0f3;
    --gray-4: #e7e8ec;
    --gray-5: #e0e1e6;
    --gray-6: #d8d9e0;
    --gray-7: #cdced7;
    --gray-8: #b9bbc6;
    --gray-9: #8b8d98;
    --gray-10: #80828d;
    --gray-11: #62636c;
    --gray-12: #1e1f24;

    --gray-a1: #00005503;
    --gray-a2: #00005506;
    --gray-a3: #00104010;
    --gray-a4: #000b3618;
    --gray-a5: #0009321f;
    --gray-a6: #00073527;
    --gray-a7: #00063332;
    --gray-a8: #00083046;
    --gray-a9: #00051d74;
    --gray-a10: #00051b7f;
    --gray-a11: #0002119d;
    --gray-a12: #000107e1;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8b8d98;
    --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light {
            --blue-1: oklch(99.4% 0.0033 260);
            --blue-2: oklch(98.2% 0.0109 260);
            --blue-3: oklch(96% 0.0228 260);
            --blue-4: oklch(93.7% 0.0433 260);
            --blue-5: oklch(90.5% 0.0635 260);
            --blue-6: oklch(86.4% 0.0832 260);
            --blue-7: oklch(80.8% 0.1056 260);
            --blue-8: oklch(73.3% 0.1428 260);
            --blue-9: oklch(57.8% 0.2282 260);
            --blue-10: oklch(53.4% 0.2252 260);
            --blue-11: oklch(54.4% 0.2252 260);
            --blue-12: oklch(32.1% 0.1144 260);

            --blue-a1: color(display-p3 0.0235 0.349 1 / 0.012);
            --blue-a2: color(display-p3 0.0235 0.349 0.8941 / 0.036);
            --blue-a3: color(display-p3 0.0078 0.4078 0.9529 / 0.079);
            --blue-a4: color(display-p3 0.0078 0.3882 0.9451 / 0.134);
            --blue-a5: color(display-p3 0.0078 0.3843 0.9412 / 0.197);
            --blue-a6: color(display-p3 0.0039 0.3725 0.9451 / 0.275);
            --blue-a7: color(display-p3 0.0039 0.3412 0.949 / 0.369);
            --blue-a8: color(display-p3 0 0.3216 0.949 / 0.506);
            --blue-a9: color(display-p3 0 0.2863 0.9451 / 0.808);
            --blue-a10: color(display-p3 0 0.251 0.8745 / 0.844);
            --blue-a11: color(display-p3 0 0.2627 0.8824 / 0.84);
            --blue-a12: color(display-p3 0 0.1059 0.3529 / 0.918);

            --blue-contrast: #fff;
            --blue-surface: color(display-p3 0.9569 0.9725 1 / 0.8);
            --blue-indicator: oklch(57.8% 0.2282 260);
            --blue-track: oklch(57.8% 0.2282 260);

            --gray-1: oklch(99.1% 0.0015 277.7);
            --gray-2: oklch(98.2% 0.003 277.7);
            --gray-3: oklch(95.6% 0.0045 277.7);
            --gray-4: oklch(93.1% 0.0061 277.7);
            --gray-5: oklch(91% 0.0077 277.7);
            --gray-6: oklch(88.8% 0.0093 277.7);
            --gray-7: oklch(85.3% 0.0117 277.7);
            --gray-8: oklch(79.4% 0.016 277.7);
            --gray-9: oklch(64.6% 0.0165 277.7);
            --gray-10: oklch(61% 0.0161 277.7);
            --gray-11: oklch(50.3% 0.0139 277.7);
            --gray-12: oklch(24.1% 0.0099 277.7);

            --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
            --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
            --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
            --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
            --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
            --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
            --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
            --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
            --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
            --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
            --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
            --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 1 1 1 / 80%);
            --gray-indicator: oklch(64.6% 0.0165 277.7);
            --gray-track: oklch(64.6% 0.0165 277.7);
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-1);

    a,
    span,
    p {
        color: var(--text);
    }
}

.btn {
    gap: .5rem;
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    justify-content: center;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    background: transparent;
}

.btn-primary {
    color: var(--blue-contrast);
    background-color: var(--blue-10);

    span,
    label,
    p,
    a {
        color: var(--blue-contrast);
    }
}

.btn-primary[disabled] {
    opacity: .5;
    transform: none !important;
    cursor: not-allowed !important;
}

.btn-ghost {
    border: 1px solid var(--blue-1);
    border-radius: 6px;
}

.content-container {
    flex: 1;
    width: 100%;
    min-height: 0;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    max-width: var(--content-max-w);
}