:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 1rem;
}

.cards-section {
    padding: 2rem 1.5rem;

    h3 {
        color: var(--blue-12);
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
}